@import url("https://fonts.googleapis.com/css?family=Montserrat:b");
/* @import "bootstrap/scss/bootstrap"; */

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App-title {
  font-size: 1.5em;
}

/* $danger: pink; */
