@import url("https://fonts.googleapis.com/css?family=Montserrat:");
/* @import "bootstrap/scss/bootstrap"; */

.App {
  text-align: center;
  font: "Montserrat";
}

.App-title {
  font-size: 1.5em;
}

/* $danger: pink; */
