$primary: #fbdb4a;
$secondary: #d1d1d1;
$dark: #b2a9a4;
// $success
// $info
// $warning
//$danger: #fbdb4a;

// $light// $dark
@import "bootstrap/scss/bootstrap";

// You can put your own SCSS here

body {
  font: 14px "Montserrat", Arial, sans-serif;
}

.Footer {
  position: fixed;
  height: 7vh;
  padding: 1vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $secondary;
  color: #7777;
  text-align: center;
  font-size: 9px;
}

.Header {
  position: fixed;
  top: 0;
}

.About {
  background-color: #7777;
}

hr {
  border-top: 2px solid $secondary;
  width: 50%;
}
