$primary: #fbdb4a;
$secondary: #dee2e6;
$dark: #b2a9a4;
// $success
// $info
// $warning
//$danger: #fbdb4a;

// $light// $dark
@import "bootstrap/scss/bootstrap";
//@import "video-react/styles/scss/video-react";

body {
  font: 14px "Montserrat", Arial, sans-serif;
}

.Footer {
  height: 5vh;
  padding: 1vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $secondary;
  color: #7777;
  text-align: center;
  font-size: 9px;
}

.Header {
  position: fixed;
  top: 0;
}

hr {
  border-top: 2px solid $secondary;
  width: 100%;
}

.mapContainer {
  .map {
    position: relative !important;
  }
}
.about {
  padding: 20px;
}

.event:hover {
  background-color: #fbdb4a;
  opacity: 0.9;
}
